<?php if (!$this->fullWidth) : ?>
    <div class="w3-row content-wrapper">
        <?php if ($this->sitebarLeft) : ?>
            <div class="w3-col l3 w3-hide-medium w3-hide-small">
                <?php echo $this->sitebarLeft ?>
            </div>
        <?php endif; ?>
        <div class="w3-col l<?php echo $this->contentColumnsL ?> m<?php echo $this->contentColumnsM ?> s<?php echo $this->contentColumnsS ?>">
            <?php echo $this->content ?>
        </div>
        <?php if ($this->sitebarRight) : ?>
            <div class="w3-col l3 w3-hide-medium w3-hide-small">
                <?php echo $this->sitebarRight ?>
            </div>
        <?php endif; ?>
    </div>
<?php else : ?>
    <?php echo $this->content ?>
<?php endif; ?>
